@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', segoe ui;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #1e1d23;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
}

#nav-txt{
    display: none;
    font-size: 11px;
}

#ico-nav{
    height: auto;
    width: 48px;
    filter: invert(100%);
    margin-left: 50px;
}
#ico-nav>p{
    display: none;
}
#nav-links>a>img{
    display: none;
    filter: invert(100%);
}

#nav-links{
    margin-right: 50px;
}

#WA-nav{
    display: none;
}

a{
    text-decoration: none;
    color: white;
}
h2{
    font-size: 50px
}
.blank-txt{
    color: white;
}

#WA{
    bottom: 35px;
    right: 100px;
    position: fixed;
}
.wallpaper-conteiner{
    width: auto;
    height: 100vh;
    background-color: #fff
 }
 .wallpaper{
    width: 100%;
    height: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url("../img/26000944_2026766810936416_4978532810950128081_n.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.caption {
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   color:white;
   text-align:center;
}
span{
    font-size:40px;
}
.brand{
    font-weight:700;
    border-radius:25px;
}
.type-cursor { color:#fff; animation:blink .4s ease infinite;opacity:0; }
  @keyframes blink {
      100% { opacity:1; }
}

.section{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.flex{
    display:flex;
    flex-direction: column;
}

.center{
    align-items: center;
    justify-content: center;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.blue-bck{
    background-color: rgb(10, 33, 65);
}
.peach-bck{
    background-color:#FCDEBE;
}
.peach-bck>h2{
    color:  #5e5760;
}

img{
    width: 100%;
    height: auto    ;
}
.img-job{
    height: auto;
    width: 75px;
    margin: 10px;
}


#profilePic{
    width: 350px;
    height: 350px;
    background-image: url("../img/profilePic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#aboutMe-text{
    width: 50%;
    margin-left: 50px;
}

#rrss{
    margin-top: 10px;
}

.img-rrss{
    height: auto;
    width: 24px;
    margin: 30px;
}



.service{
    width: 300px;
    height: 200px;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

#gestor-de-proyectos{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url("../img/gestion-de-proyectos.jpg");
}

#organizar-eventos{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url("../img/polython-google.jpg");
}

#talleres{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url("../img/AlexisDoli-impartiendo-taller.jpg");
}

#speaker{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url("../img/AlexisDoli-speaker.jpg");
}
#consultor-ti{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url("../img/AlexisDoli-soldando.jpg");
}
#mentorias{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url("../img/AlexisDoli-mentor.jpeg");
}

.img-reward{
    width: 100px;
}

.reward-text{
    width: 270px;
    padding: 10px;
}

footer{
    background-color: #1e1d23;
    color:  #5e5760;
}